Source: python-carbon
Section: python
Priority: optional
Maintainer: Ilya Zakreuski <izakreuski@gmail.com>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50), python, python-all-dev, python-central (>= 0.6.4), python-setuptools
Homepage: https://launchpad.net/graphite
XS-Python-Version: >= 2.5
Standards-Version: 3.9.2

Package: python-carbon
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-whisper, python-twisted-core
Description: backend data caching and persistence daemon for Graphite
 Client applications connect to the running carbon-cache daemon on
 port 2003 and send it lines of text. Once you've got some clients
 sending data to carbon-cache, you can view graphs of that data in the
 Graphite frontend webapp.

